*.class
*.jar
*.war
*.iml
*.tmp
*.bak
*.swp
bin/
tmp/
.loadpath
.sonar
.metadata
.recommendersR
.project
.classpath
.buildpath
.target
.texlipse
.springBeans
.idea/
.settings/
target
local.properties
.factorypath
.iml
.sonar